<!DOCTYPE html>
<html lang="en">
<head>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BuzzZaw Auto</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
</head>
<body>

<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">BuzzZaw Auto</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">New Inventory</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Used Inventory</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Specials</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<!--Add Vehicle-->
<div class="container" style="width: 500px">
    <h3 class="my-5 text-left">Add Vehicle</h3>
    <form>
        <div class="row my-3">
            <div class="col-6">
                Make<br>
                <select class="form-select" name="make">
                    <option selected>Make</option>
                    <option value="make">make</option>
                </select>
            </div>
            <div class="col-6">
                Model<br>
                <select class="form-select" name="model">
                    <option selected>Choose Model</option>
                    <option value="model">model</option>
                </select>
            </div>
        </div>

        <div class="row my-3">
            <div class="col-6">
                Type<br>
                <select class="form-select" name="type">
                    <option selected>Choose Type</option>
                    <option value="type">type</option>
                </select>
            </div>
            <div class="col-6">
                Body Style<br>
                <select class="form-select" name="bodyStyle">
                    <option selected>Choose Body Style</option>
                    <option value="bodyStyle">body Style</option>
                </select>
            </div>
        </div>

        <div class="row my-3">
            <div class="col-6">
                Year<br>
                <input class="form-control" type="text" name="year" />
            </div>
            <div class="col-6">
                Transmission<br>
                <select class="form-select" name="transmission">
                    <option selected>Choose Transmission</option>
                    <option value="transmission">Transmission</option>
                </select>
            </div>
        </div>


        <div class="row my-3">
            <div class="col-6">
                Color<br>
                <select class="form-select" name="color">
                    <option selected>Choose Color</option>
                    <option value="color">color</option>
                </select>
            </div>
            <div class="col-6">
                Interior<br>
                <select class="form-select" name="interior">
                    <option selected>Choose Interior Color</option>
                    <option value="interior">Interior</option>
                </select>
            </div>
        </div>

        <div class="row my-3">
            <div class="col-6">
                Mileage
                <input class="form-control" type="text" name="mileage" />
            </div>
            <div class="col-6">
                VIN #
                <input class="form-control" type="text" name="vin">
            </div>
        </div>

        <div class="row my-3">
            <div class="col-6">
                MSRP
                <input class="form-control" type="text" name="firstName" />
            </div>
            <div class="col-6">
                Sale Price
                <input class="form-control" type="text" name="lastName">
            </div>
        </div>

        <div class="my-3">
            Description
            <textarea class="form-control" type="text" name="description"></textarea>
        </div>

        <div class="row my-3">
            <div class="col-6">
                Photo
                <input class="form-control" type="text" name="photo" />
            </div>
            <div class="col-6">
                <br>
                <input class="btn btn-primary" value="Upload">
            </div>
        </div>

        <div class="my-3">
            <input class="form-check-input" type="checkbox" value="feature" />
            Feature this vehicle
        </div>

        <input class="my-3 btn btn-primary btn-sm" type="submit" value="Save" />
    </form>
</div>

<!--Footer-->
<div class="container-fluid p-5 mt-5 bg-light text-center">
    <span>Footer</span>
</div>

</body>
</html>