<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BuzzZaw Auto</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
        <main>
           <nav class="navbar navbar-expand-lg bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">BuzzZaw Auto</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                   <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item" id="home">
                                <a class="nav-link active" id="home" aria-current="page" href="#">Home</a>
                            </li>
                            <li class="nav-item" id="new">
                                <a class="nav-link" id="new" href="#">New Inventory</a>
                            </li>
                            <li class="nav-item" id="used">
                                <a class="nav-link" id="used" href="#">Used Inventory</a>
                            </li>
                            <li class="nav-item" id= "specials">
                                <a class="nav-link" id= "specials" href="#">Specials</a>
                            </li>
                            <li class="nav-item" id= "contact">
                                <a class="nav-link" id= "contact" href="#">Contact</a>
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </nav>  
            
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-4">SPECIALS</h1>
                </div>
            </div>
            
            <div class="car-container">
                <h1 class="header" id="car-container-header">Featured Vehicles</h1>   
                
                /*insert cards here*/
            </div>
        </main>
	<script src="../scripts/index.js"></script>
        <script src="../scripts/jQuery.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  </body>
</html>